<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Activ posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inactiv posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <div class="row d-flex">

        <div class="col-9">
            <div class="row">
                <div class="p-5 mb-4 bg-body-secondary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">In evidenza: She has seen this scene before.</h1>
                        <a href="#">Leggi di più...</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <span *ngFor="let tag of record1.tags let i=index">
                                <span *ngIf="i < record1.tags.length-1">
                                    <span class="text-primary">{{tag.toUpperCase()}}, </span>
                                </span>
                            </span>
                            <span class="text-primary">{{record1.tags[record1.tags.length-1].toLocaleUpperCase()}}</span>
                            <h5 class="card-title">{{record1.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Reactions: {{record1.reactions}}</h6>
                            <p class="card-text"> {{record1.body}} </p>
                            <a href="#" class="card-link">Leggi di più...</a>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card border-0">
                        <div class="card-body">                            
                            <span *ngFor="let tag of record2.tags let i=index">
                                <span *ngIf="i < record2.tags.length-1">
                                    <span class="text-primary">{{tag.toUpperCase()}}, </span>
                                </span>
                            </span>
                            <span class="text-primary">{{record2.tags[record2.tags.length-1].toLocaleUpperCase()}}</span>
                            <h5 class="card-title">{{record2.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Reactions: {{record2.reactions}}</h6>
                            <p class="card-text"> {{record2.body}} </p>
                            <a href="#" class="card-link">Leggi di più...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 border border-1">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">In evidenza: She has seen this scene before.</h1>
                <a href="#">Leggi di più...</a>
            </div>
        </div>
    </div>
</div>