<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Activ posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inactiv posts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- <main>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">In evidenza: She has seen this scene before.</h1>
            <a>Leggi di piu...</a>
        </div>
    </div>
</main> -->

<div class="container mt-5">
    <div class="row d-flex">

        <div class="col-9">
            <div class="row">
                <div class="p-5 mb-4 bg-body-secondary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">In evidenza: She has seen this scene before.</h1>
                        <a href="#">Leggi di più...</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">                    
                    <div class="card">
                        <div class="card-body">
                            <h6>FICTION, HISTORY, CRIME</h6>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="card-link">Leggi di più...</a>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">                            
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="card-link">Leggi di più...</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-3 border border-1">
            colonna2
        </div>
    </div>
</div>