<div class="container text-center">
    <h1>Benvenuto su MyMovie</h1>    
    <h2>Accedi o registrati per i migliori film del momento!</h2>    
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 text-center">                
                <a [routerLink]="['/login']" class="btn btn-primary">Accedi</a>
            </div>
            <div class="col-6 text-center">                
                <a [routerLink]="['/register']" class="btn btn-primary">Registrati</a>
            </div>
        </div>
    </div>
</div>

