<div class="card my-2">


    <div class="card-header d-flex justify-content-between">
        <div>
            <span *ngFor="let post of newPost.tags">
                <span class="badge rounded-pill me-1" appRandomColor >{{post | uppercase}}</span>
            </span>
        </div>

        <a (click)="toggleEdit()" class="btn btn-danger">Edit</a>
    </div>
    <div class="card-body" *ngIf="!edit; else editMode">
        <h5 class="card-title">{{newPost.title}}</h5>
        <p class="card-text">{{newPost.body}}</p>
    </div>


    <ng-template #editMode>
        <form>
            <div class="row card-body">
                <div>
                    <input type="text" id="title" value="{{newPost.title}}" class="card-title w-100">
                </div>
                <div class="mb-3">
                    <textarea rows="4" id="textarea" class="form-control">{{newPost.body}}</textarea>
                </div>
                <div (click)="setText()" class="btn btn-success">Save</div>
            </div>
        </form>
    </ng-template>
</div>