<div class="container">
    <h1 class="mt-3">Hey Boss, what's my task for today?</h1>

    <div class="">
        <button class="btn bg-primary me-2 text-white" [routerLink]="['/completed']">See how much we've accomplished!</button>
        <button class="btn bg-primary me-2 text-white" [routerLink]="['/uncompleted']">What's left?</button>
        <button class="btn bg-primary me-2 text-white" [routerLink]="['/by-user']">By user</button>
        <button class="btn bg-primary me-2 text-white" [routerLink]="['/']">See all</button>
    </div>
    <div>
        <input type="text" placeholder="Enter your name here" class="my-3 pe-3 form-control" />
    </div>
</div>