<app-navbar></app-navbar>


<h1>sei in app component</h1>

{{segnaposto}}
    <div *ngFor="let item of products">
        {{item}}
        
    </div>



<!-- <div *ngIf="products">
    <div *ngFor="let item of products">
        {{item.title}}
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> -->

<!-- <div *ngIf="photos; else loadingTemplate" class="row mt-5">
    <div class="col-6" *ngFor="let photo of photos, let i = index">
        <div class="card">
            <img src="{{ photo.thumbnailUrl }}" alt="Foto nr {{ photo.id }}" />
            <div class="card-body">
                <h5 class="card-title">
                    {{ photo.title }}
                </h5>
                <button type="button" class="btn btn-danger" (click)="delete(photo.id, i)">Elimina</button>
                <button type="button" class="btn btn-success ms-3" (click)="add()">Mi piace</button>
            </div>
        </div>
    </div>
</div> -->