<div class="container mt-5 px-6">

    <div class="row mb-3">
        <div class="col-9 px-5">
            <app-in-evidenza></app-in-evidenza>

            <div class="row">
                <div class="col-6">
                    <app-related></app-related>
                </div>

                <div class="col-6">
                    <app-related></app-related>
                </div>
            </div>
        </div>

        <div class="col-3 px-5 rounded-3 bg-body-secondary">
            <div class="container-fluid py-5">
                <h5 class="">Potrebbero piacerti:</h5>
                <app-likeable></app-likeable>

                <h5 class="mb-4">Vedi anche:</h5>
                <div class="mb-4"><a routerLink="/active-posts">Post attivi</a></div>
                <div><a routerLink="/inactive-posts">Post inattivi</a></div>
            </div>
        </div>


        <div class="mt-5 mb-3">
            <div class="badge me-2" (click)="filtra('AMERICAN', 1)" [ngClass]="{'bg-success': tagSelected==1}">AMERICAN</div>
            <div class="badge me-2" (click)="filtra('CLASSIC', 2)"  [ngClass]="{'bg-success': tagSelected==2}">CLASSIC</div>
            <div class="badge me-2" (click)="filtra('CRIME', 3)"    [ngClass]="{'bg-success': tagSelected==3}">CRIME</div>
            <div class="badge me-2" (click)="filtra('ENGLISH', 4)"  [ngClass]="{'bg-success': tagSelected==4}">ENGLISH</div>
            <div class="badge me-2" (click)="filtra('FICTION', 5)"  [ngClass]="{'bg-success': tagSelected==5}">FICTION</div>
            <div class="badge me-2" (click)="filtra('FRENCH', 6)"   [ngClass]="{'bg-success': tagSelected==6}">FRENCH</div>
            <div class="badge me-2" (click)="filtra('HISTORY', 7)"  [ngClass]="{'bg-success': tagSelected==7}">HISTORY</div>
            <div class="badge me-2" (click)="filtra('LOVE', 8)"     [ngClass]="{'bg-success': tagSelected==8}">LOVE</div>
            <div class="badge me-2" (click)="filtra('MAGICAL', 9)"  [ngClass]="{'bg-success': tagSelected==9}">MAGICAL</div>
            <div class="badge me-2" (click)="filtra('MYSTERY', 10)" [ngClass]="{'bg-success': tagSelected==10}">MYSTERY</div>
        </div>
    </div>

    <div *ngFor="let post of posts">
        <app-single-post [newPost]="post"></app-single-post>
    </div>

</div>