<div class="container mt-5 px-6">

    <div class="row">
        <div class="col-9 px-5">
            <app-in-evidenza></app-in-evidenza>

            <div class="row">
                <div class="col-6">
                    <app-related></app-related>
                </div>

                <div class="col-6">
                    <app-related></app-related>
                </div>
            </div>
        </div>

        <div class="col-3 px-5 rounded-3 bg-body-secondary">
            <div class="container-fluid py-5">
                <h5 class="">Potrebbero piacerti:</h5>
                <app-likeable></app-likeable>

                <h5 class="mb-4">Vedi anche:</h5>
                <div class="mb-4"><a href="#">Post attivi</a></div>
                <div><a href="#">Post inattivi</a></div>
            </div>
        </div>
    </div>
</div>