/* You can add global styles to this file, and also import other style files */

body{
    // color: rgb(80, 80, 80);
    background-color: rgb(110, 110, 110);
}

h1{
    color: black;
    text-align: center;
}

h3{
    color: yellow;
    text-align: center;
}

h4{
    color: cyan;
    text-align: center;
}